# Scala
*.class
*.tasty
*.log

# Build directories
/target/
/project/target/
/target/
/project/target/
/project/metals.sbt

# IDE specific

.vscode/
.bloop/
.metals/


# Virtual machine crash logs
hs_err_pid*

# SBT
project/boot/
project/target/
project/project/
/target/
/.sbt*
/.scala_build/

# Maven
/target/
!target/scala-*/classes/
!target/scala-*/resource-managed/

# Build tool plugins
.scoverage/
.coverage/

